/*Paginas web*/

.ola24 {
    margin-top: 5rem;
}

.contenedorSobre19 {
    background-color: $naranja;
}

.article24 {
    width: 800px;
    height: 300px;
    margin-left: 2rem;
    &__titulo24 {
        padding-top: 5rem;
        color: $rojo;
    }
    &__texto24 {
        color: $azul;
    }
    &__imagen24 {
        margin-left: 60rem;
        margin-top: -17rem;
    }
    &__pic24 {
        height: 300px;
        width: 400px;
        border-radius: 5%;
    }
}

.articulo {
    background-color: $naranja;
    .articulo__section19 {
        width: 800px;
        height: 400px;
        padding-top: 5rem;
        margin-left: 40rem;
    }
    &__titulo19 {
        color: $rojo;
    }
    &__texto19 {
        margin-top: 2rem;
        color: $azul;
    }
    &__imagen19 {
        margin-left: 4rem;
        margin-top: -22rem;
    }
    &__pic19 {
        height: 300px;
        width: 400px;
        border-radius: 5%;
    }
}

.titulo-web {
    margin-top: 5rem;
    margin-left: 25rem;
    color: $azul;
}

.imagenes {
    margin-top: 8rem;
    padding-left: 7rem;
    &__web {
        display: inline;
        padding: 4rem;
    }
    &__gif14 {
        height: 200px;
        width: 300px;
        border-radius: 5%;
        cursor: pointer;
    }
}

@include tablet {
    .article24 {
        width: 500px;
        height: 700px;
        margin-left: 7rem;
        &__texto24 {
            padding-top: 1rem;
        }
        &__imagen24 {
            margin-top: 5rem;
            margin-left: 0rem;
        }
        &__pic24 {
            height: 300px;
            width: 450px;
        }
    }
    .articulo__titulo19 {
        margin-left: -30rem;
    }
    .articulo__texto19 {
        margin-left: -30rem;
        width: 500px;
    }
    .articulo__pic19 {
        margin-top: 30rem;
        margin-left: 7rem;
    }
    .titulo-web {
        margin-left: 13rem;
        width: 400px;
    }
    .imagenes {
        margin-left: 3rem;
    }
}

@include movil {
    .article24 {
        width: 300px;
        height: 800px;
        margin-left: 2rem;
        font-size: 0.8rem;
        &__imagen24 {
            padding-top: 1rem;
            margin-left: 0rem;
        }
        &__pic24 {
            height: 250px;
            width: 350px;
        }
    }
    .articulo__titulo19 {
        margin-left: -37rem;
    }
    .articulo__texto19 {
        font-size: 0.8rem;
        margin-left: -37rem;
        width: 300px;
        height: 900px;
    }
    .articulo__pic19 {
        margin-top: 27rem;
        margin-left: -2rem;
        height: 250px;
        width: 350px;
    }
    .titulo-web {
        font-size: 0.8rem;
        margin-left: 7rem;
        width: 200px;
    }
    .imagenes {
        margin-left: -7rem;
        height: 250px;
        width: 250px;
    }
}